<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../index.css" />
		<link rel="stylesheet" href="buttons.css" />
		<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		<title>AstraUI</title>
	</head>
	<body>
		<nav>
			<div class="nav-bar">
				<i class="bx bx-menu sidebar-open"></i>
				<span class="logo nav-logo"><a href="#">AstraUI</a></span>

				<div class="menu">
					<div class="logo-toggle">
						<span class="logo"><a href="#">AstraUI</a></span>
						<i class="bx bx-x sidebar-close"></i>
					</div>
					<ul class="nav-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">Documentation</a></li>
						<li><a href="#">Pricing</a></li>
						<li><a href="#">Github</a></li>
						<li class="component-nav-link"><a href="#">Components</a></li>
						<li class="component-nav-link"><a href="#">Avatar</a></li>
						<li class="component-nav-link"><a href="#">Alert</a></li>
						<li class="component-nav-link"><a href="#">Badge</a></li>
						<li class="component-nav-link"><a href="#">Buttons</a></li>
						<li class="component-nav-link"><a href="#">Card</a></li>
						<li class="component-nav-link"><a href="#">Image</a></li>
						<li class="component-nav-link"><a href="#">Input</a></li>
					</ul>
				</div>
				<div class="darkLight-searchBox">
					<div class="dark-light">
						<i class="bx bx-moon moon"></i>
						<i class="bx bx-sun sun"></i>
					</div>

					<div class="searchBox">
						<div class="searchToggle">
							<i class="bx bx-x cancel"></i>
							<i class="bx bx-search search"></i>
						</div>

						<div class="search-field">
							<input type="text" placeholder="Search..." />
							<i class="bx bx-search"></i>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="component-nav laptop">
			<h1 class="component-title">Components</h1>
			<ul class="component-list nav-links">
				<li><a href="#">Avatar</a></li>
				<li><a href="#">Alert</a></li>
				<li><a href="#">Badge</a></li>
				<li><a href="#">Buttons</a></li>
				<li><a href="#">Card</a></li>
				<li><a href="#">Image</a></li>
				<li><a href="#">Input</a></li>
			</ul>
		</div>

		<div class="component-description">
			<div class="component-tile avatar-component">
				<h1 class="component-tile-title">Buttons</h1>
				<p class="component-tile-description">
					The Button component is used to trigger an action or event, such as submitting a form,
					opening a dialog, canceling an action, or performing a delete operation.
				</p>
				<div class="component-subtype">
					<h2 class="component-subtype-heading">Using Primary Buttons</h2>
					<p>Here's how to use primary <span class="highlight">Buttons</span> in your project</p>
					<div class="store button-store">
						<button class="btn btn-primary btn-solid">Primary Solid</button>
						<button class="btn btn-primary btn-outline">Primary Outline</button>
						<button class="btn btn-primary btn-solid">
							Next <i class="fas fa-arrow-circle-right"></i>
						</button>
						<button class="btn btn-primary btn-icon"><i class="fas fa-home fa-2x"></i></button>
					</div>
					<div class="store">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=15px&dsblur=48px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Source+Code+Pro&fs=13px&lh=155%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-solid%2522%253EPrimary%2520Solid%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-outline%2522%253EPrimary%2520Outline%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-solid%2522%253E%250A%2520%2520%2520%2520Next%2520%253Ci%2520class%253D%2522fas%2520fa-arrow-circle-right%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-home%2520fa-2x%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E"
							style="width: 669px; height: 178px; border: 0; transform: scale(1); overflow: hidden"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>
				</div>
				<div class="component-subtype">
					<h2 class="component-subtype-heading">Using Secondary Buttons</h2>
					<p>Here's how to use secondary <span class="highlight">Buttons</span> in your project</p>
					<div class="store button-store">
						<button class="btn btn-secondary btn-solid">Secondary Solid</button>
						<button class="btn btn-secondary btn-outline">Secondary Outline</button>
						<button class="btn btn-secondary btn-solid">
							Next <i class="fas fa-arrow-circle-right"></i>
						</button>
						<button class="btn btn-secondary btn-icon"><i class="fas fa-home fa-2x"></i></button>
					</div>
					<div class="store">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=15px&dsblur=48px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Source+Code+Pro&fs=13px&lh=155%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520btn-solid%2522%253ESecondary%2520Solid%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520btn-outline%2522%253ESecondary%2520Outline%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520btn-solid%2522%253E%250ANext%2520%253Ci%2520class%253D%2522fas%2520fa-arrow-circle-right%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520btn-icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-home%2520fa-2x%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E"
							style="width: 684px; height: 178px; border: 0; transform: scale(1); overflow: hidden"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>
				</div>
				<div class="component-subtype">
					<h2 class="component-subtype-heading">Using Disabled Buttons</h2>
					<p>Here's how to use Disabled <span class="highlight">Buttons</span> in your project</p>
					<div class="store button-store">
						<button class="btn btn-disabled btn-primary btn-solid">Secondary Solid</button>
						<button class="btn btn-disabled btn-primary btn-outline">Secondary Outline</button>
						<button class="btn btn-disabled btn-secondary btn-solid">
							Next <i class="fas fa-arrow-circle-right"></i>
						</button>
						<button class="btn btn-disabled btn-secondary btn-icon">
							<i class="fas fa-home fa-2x"></i>
						</button>
					</div>
					<div class="store">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=15px&dsblur=48px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Source+Code+Pro&fs=13px&lh=155%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-disabled%2520btn-primary%2520btn-solid%2522%253ESecondary%2520Solid%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-disabled%2520btn-primary%2520btn-outline%2522%253ESecondary%2520Outline%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-disabled%2520btn-secondary%2520btn-solid%2522%253E%250A%2509Next%2520%253Ci%2520class%253D%2522fas%2520fa-arrow-circle-right%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-disabled%2520btn-secondary%2520btn-icon%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-home%2520fa-2x%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
							style="width: 669px; height: 218px; border: 0; transform: scale(1); overflow: hidden"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>
				</div>
				<div class="component-subtype">
					<h2 class="component-subtype-heading">Using Floating Action Button</h2>
					<p>
						Here's how to use <span class="highlight">floating action Button</span> in your project
					</p>
					<div class="store button-store">
						<p>Check right-bottom corner for the floating action button</p>
						<button class="btn btn-primary btn-icon btn-floating-action">
							<i class="fas fa-arrow-circle-up fa-2x"></i>
						</button>
					</div>
					<div class="store">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=material&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=15px&dsblur=48px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Source+Code+Pro&fs=13px&lh=155%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-icon%2520btn-floating-action%2522%253E%250A%2509%253Ci%2520class%253D%2522fas%2520fa-arrow-circle-up%2520fa-2x%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
							style="width: 497px; height: 118px; border: 0; transform: scale(1); overflow: hidden"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>
				</div>
			</div>
		</div>

		<script src="../script.js"></script>
	</body>
</html>
